.a{
    border: 2px solid blueviolet;
    /* height: 40%; */
    width: 40%;
    margin: auto;
    padding: 40px;
}
p{
    padding: 20px;
    background-color: green;
    color: aliceblue;
    text-align: justify;
}