.img{
    position: absolute;
    left: 0;
    bottom: 0;
    animation:img 4s  linear infinite;
}
 @keyframes img {
    from{
        bottom: 0%;
        left: 0%;
    }
    to{
        bottom: 100%;
        left: 100%;
    }
    
} 
/* 0%{
    top: 20px;
    right: 20px;
}

20%{
    top: 40%;
    bottom: 40%;
}
40%{
    top: 60px;
    right: 60px;
}
60%{
    top: 80px;
    right: 80px;
}
80%{
    top: 100px;
    right: 100px;
} */