.a{
    height: 200px;
    width: 200px;
    border: 2px solid pink;
}
.b{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(209, 9, 142);
}
.c{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(194, 39, 65);
}
