*{
    background-color: brown;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
   

}
emp{
    padding-top: 20px;
    letter-spacing: 2px;
    border: 1px solid black;
    width: 50%;
    justify-content: center;
    align-items: center;
}
name,id,email,contact,salary,address{
    border: 1px solid black;
}
emp :nth-child(even)
{
    background-color: rgb(100, 83, 58);
}
emp :nth-child(odd)
{
    background-color: rgb(46, 11, 11);
}
